@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed&display=swap');

body { 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: rgba(13, 11, 11, 0);
    color: rgb(12, 16, 12)
}
/*Navigation bar*/
nav {
    max-width: none;
    margin: 0 auto;
    
}
nav ul {
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}
li {
    float: left;
    list-style-type:none;
    
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;   
}
li a:hover {
    background-color:crimson;
}

/* headings and logo*/
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: black;
}
#logo {
    margin-left: 30px;
}
#background-image {
    width: 100%;
    height: 300px;
    background:url(../images/coronation.jpg) no-repeat;
    background-size: cover;
    
}
#large {
    font-size: xx-large;
}