@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed&display=swap');

body { 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: rgba(13, 11, 11, 0);
    color: tan;
}
/*Navigation bar*/
nav {
    max-width: none;
    margin: 0 auto;
    
}
nav ul {
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}
li {
    float: left;
    list-style-type:none;
    
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;   
}
li a:hover {
    background-color:tan;
}

/* headings and logo*/
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: tan;
}
#logo {
    margin-left: 30px;
}

#large {
    font-size: xx-large;
}
footer {
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
    
    width: 100%;

    padding: 0;
    overflow: hidden;
    background-color: black;
    
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
       
}
/*Main background image*/
.background { 
    background-image: url(../images/backgroundnew.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.audio {
    display: flex;
    justify-content: center;
    align-items: center;
  }