@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed&display=swap');

body { 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: rgba(13, 11, 11, 0);
    color: tan;
}
/*Navigation bar*/
nav {
    max-width: none;
    margin: 0 auto;
    
}
nav ul {
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}
li {
    float: left;
    list-style-type:none;
    
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;   
}
li a:hover {
    background-color:tan;
}

/* headings and logo*/
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: tan;
}
#logo {
    margin-left: 30px;
    text-decoration: underline white;
}
.logo:hover {
    color: white;
    border-bottom: 1px red solid;
    width: fit-content;
}

#large {
    font-size: xx-large;
}


/*Footer Section Styling*/

footer {
    position: fixed;
    height: 100px;
    left: 0px;
    bottom: 0;
    
    width: 100%;

    padding: 0;
    overflow: hidden;
    background-color: black;
    
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
       
}
.footer {
    margin-left: 80px;
    margin-top: 10px;
    color: tan;
}
/*Main background image*/
.background { 
    background-image: url(../images/backgroundnew.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
/*Audio Visuals*/
.audio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.index-video {
    text-align: center;
}
img {
    width: 300px;
    float: left;
    margin-right: 9px;
    margin-top: 50px;
}
div p {
    font-size: 38px;
    border-bottom: 20px;
    font-weight: 500;

}
/* Achievment page table styling*/
table {
    margin: 200px 200px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    clear: both;
    
}
div img {
    float: right;
    width: 13%;
    margin: 0 180px 0 0;
}

table, th, td {
    border: 1px solid;
    width: 30%;
    letter-spacing: 2px;
}
div h2 {
    font-size: 40px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 5px;    
}
li {
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

/*Early Life Styling*/
#headstyle {
    height: 40px; 
    width: auto;
    margin-left: 50px;
    font-size: 39px;
    margin-bottom: 35px;

}
h1 img {
    width: 1.5%;
    float: right;
    margin-left: 20px;
    margin-top: 2px;
    position:absolute;
}
#left-side {
    width: 45%;
    padding: 10px;
    float: left;
    margin-left: 40px;
    
}
#right-side {
    width: 45%;
    padding: 10px;
    float: right;
    margin-right: 40px;
}

/* Newsletter form styling*/
.newsletter-form {
    max-width: 200px;
    left: 1800px;
    padding: 66px;
    font-size: 23px; 
  
}
.background-news { 
    background-image: url(../images/nonhorse3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Styling of the foooter element with Napoleons profile picture*/
.center {
    display: block;
    width: 2%;
    float: right;
    margin-right: 42px;
    margin-top: 0%;
}

.buono {
    margin-top: 870px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 21px;
}

/*Media Queries*/

/*1200px Wide and Under*/
@media screen and (max-width: 1200px) {
    #left-side {
        width: 90%;
        text-align: center;
        font-size: small;
    }
    #right-side {
        width: 90%;
        text-align: center;
    }
    #headstyle {
        text-align: center;
    }
    h1 img {
        width: 3%;
    }
    #newsletter-form {
        position: fixed;
        margin-left: 10px;
        width: fit-content;
        
    }
}
    
